
bench_data.xlsx
output/flow-total_pressure_gradient_phantom_setup.png
output/flow_diameter_resitancetotal-pressure_gradient_total.png
output/flow_model-pressure_gradient_total.png
output/resistance_valve_model-valve_pressure_gradient.png
output/vessel_valve_resitances-pressure_gradient_total.png
outputs/flow-total_pressure_gradient_phantom_setup.png
outputs/flow_diameter_resitancetotal-pressure_gradient_total.png
outputs/resistance_valve_model-valve_pressure_gradient.png
outputs/flow_model-pressure_gradient_total.png
outputs/vessel_valve_resitances-pressure_gradient_total.png
